// tweets/index.blade.php

 .name {
    font-size: 1rem;
}
.profile {
    float: left;
    display: inline;
}
.paginate {
    padding-left: 50%;
    padding-right: 50%;
}
.bg-custom {
    background-color: $red;
}
