.tps-section {
    height: 50vh;
}
#title {
    color: white;
    padding-top: 1rem;
}
#marketing-app {
    background-color: $blue;
}
nav {
    border-bottom-style: solid;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-width: 1px;
}
