// profiles/_show.blade.php

.card {
    margin-top: 1rem;
    padding: 1.5rem;
    background-color: #DCDCDC;
}

.text-panel{

    ul {
        list-style: none;
        padding: 0;
        font-size: 0.75rem;

    }
}

.name {
    font-weight: bold;
    font-size: 1.5rem;
}
